.calcu{
  width: 320px;
  margin: 30px auto;
  margin-left: 28px;
}
#answer{
  background-color: #e2e2e2;
  padding: 10px;
  font-size: 35px;
  width: 295px;
  height: 45px;
  text-align: right;
  border-radius: 5px;
  border: 3px solid black;
}
.button{
  background: #333;
  height: 80px;
  width: 80px;
  color: white;
  font-size: 30px;
  border: 1px solid black;
  float: left;
}
.button1{
  width: 160px;
}
.main{
  padding: 5px;
  border: 8px solid black;
  align-items: center;
  width: 700px;
  height: 580px;
  margin-left: 150px;
  text-align: center;
  background-image: url(https://wallpapers.com/images/high/aesthetic-calculator-in-orange-zci2it7aup0g91os.webp);
 border-radius: 5px solid white;
 margin-top: 20px;
 box-shadow: 5px 5px 5px 5px black;
}
.result h1{
    font-size: 30px;
    color: white;
}
body{
  background-color:red;
}